/* SELECTORES */

/* 
    Selectores Simples
        Selectores Elementales
            Selector Universal -> *
            Selector de tipo o etiqueta -> Nombre de la etiqueta.
        Selectores de Atributo
            id -> El id del elemento. No es recomendable usarlo para estilos.
            clase -> La clase del elemento. Es el que se recomienda utilizar.
            otros atributos. 
                [atributo]
                [atributo=valor]
                [atributo^=valor] que el atributo empiece por el valor.
                [atributo*=valor] valor que coincida sin mirar el lugar.
                [atributo$=valor] que termine por valor.
                [atributo|=valor] icluye el velor y el valor con guión.

    Selectores Compuestos
        Selectores Agrupados
        Selectores Combinadores
        Pseudoclases - Pseudoelementos
*/

/* Elementals
*{
    background-color: lightcoral;
}

h1{
    background-color: lightcyan;
}
p{
    background-color: lightgreen;
}
ul{
    background-color: lightskyblue;
}
li{
    background-color: indianred;
} */

/* Atributos 
   id         
#title{
    background-color: lightgreen;
}
clases
.title{
    background-color: lightsalmon;
}

.text {
    background-color: lightblue;
} */

[href]{
    background-color: mediumorchid;
}

[href="https://google.com"]{
    background-color: orangered;
}

[href^="color"]{
    background-color: red;
}

[href*="modo"]{
    background-color: green;
}

[href$="azul"]{
    background-color: steelblue;
}

[lang|="en"]{
    background-color: lightcoral;
}


