/* SELECTORES */

/* 
    Selectores Simples
        Selectores Elementales
            Selector Universal -> *
            Selector de tipo o etiqueta -> Nombre de la etiqueta.
        Selectores de Atributo
            id -> El id del elemento. No es recomendable usarlo para estilos.
            clase -> La clase del elemento. Es el que se recomienda utilizar.
            otros atributos. 
                [atributo]
                [atributo=valor]
                [atributo^=valor] que el atributo empiece por el valor.
                [atributo*=valor] valor que coincida sin mirar el lugar.
                [atributo$=valor] que termine por valor.
                [atributo|=valor] icluye el velor y el valor con guión.

    Selectores Compuestos
        Selectores Agrupados
        Selectores Combinadores
            - Selector descendiente = Seleccionar hijos. Aunque está permitido, no se recomienda bajar más de un nivel, o sea poner más de dos elementos.
            - Selector hermano siguiente "+"
            - Selector de todos los hermanos siguientes "~"
                No se recomienda bajar más de un nivel, o sea poner más de dos elementos.
            - Selector de hijo directo ">" 

        Pseudoclases - Pseudoelementos
*/

/* Selector de hijo directo */
.container > p{
    background-color: tomato;
}


/* Selectores Agrupados
.text,
.text-2,
.text-3,
.text-4{
    background-color: lightblue;
}
*/

/* Selectores descendientes 

div .title-2{
    background-color: teal;
}*/
/* Selector hermano siguiente 
.text-2 + .title-2 {
    background-color: tomato;
}*/
/* Selector de todos los hermanos siguientes
.text-2 ~ p{
    background-color: lightblue;
} */
